name: Test

on:
  push:
    branches: [ "master" ]
    paths:
      - '**.py'
      - 'pyproject.toml'
      - '.github/workflows/test.yml'
  pull_request:
    branches: [ "master" ]
    paths:
      - '**.py'
      - 'pyproject.toml'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      memcached:
        image: memcached:1.6-alpine
        ports:
          - 11211:11211

      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Sync dependencies
      run: uv sync

    - name: Run tests
      run: uv run coverage run -m pytest && uv run coverage report
