name: Tox

on:
  push:
    branches: [ "master" ]
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'tox.ini'
      - 'requirements.txt'
      - '.github/workflows/tox.yml'
  pull_request:
    branches: [ "master" ]
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'tox.ini'
      - 'requirements.txt'
      - '.github/workflows/tox.yml'

jobs:
  tox:
    runs-on: ubuntu-latest

    services:
      memcached:
        image: memcached:1.6-alpine
        ports:
          - 11211:11211

      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions

    - name: Test with tox
      run: tox
